/* Write your CSS here */
.button {
  background-color: #585076;
  padding: 20px;
  border-width: 2px;
  border-color: white;
  color: white;
  height: 50px;
  width: 230px;
  margin: 30px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  outline: none;
}
